/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500;600;700;800&family=Sanchez:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App .router {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #13162A;
  font: 2rem 'Hack', monospace;
  color: white;
  border-bottom: 3px solid #4F5DA7;
  text-align: left;
  padding-left: 1rem;
}

.App-header * {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles */
main {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Sanchez', serif;
}

h1 {
  font-size: 2.75rem;
}

a {
  color: red;
}

.App-body {
  display: flex;
  flex-grow: 1;
  background: #232849;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: left;
  margin: 4rem 0;
  color: rgb(190, 200, 200);
}

.container > * {
  width: 80%;
  max-width: 1800px;
  margin: 0;
}

.container > p {
  font: 1.5rem 'Sanchez', serif;
}